header {
    height: 80%;
    width: 100%;
    background-size:100% 100%;
    background-image: url("img/wolfs.png");
    position: relative;
}

#equipe h3{
    
}
#equipe {
}
#nossaAlcateia{
    margin-bottom: 20px;
}
#textoApresentacao {
    margin-bottom: 40px;
    font-size: 18px;
    padding-top: 40px;
}
.h2, h2 {
    font-size: 45px;
}
#centroImagem{
    padding-left: 50px;
}