header {
    height: 80%;
    width: 100%;
    background-size:100% 100%;
    background-image: url("img/wolfs.png");
    position: relative;
}

#equipe h3{
    
}
#equipe {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 40px;
}
#textoApresentacao {
    margin-bottom: 40px;
    font-size: 18px;
}