header {
    height: 80%;
    width: 100%;
    background-size:100% 100%;
    background-image: url("img/wolfs.png");
    position: relative;
}

#equipe h3{
    
}

#nossaAlcateia{
    margin-bottom: 20px;
}
#textoApresentacao {
    margin-bottom: 40px;
    font-size: 20px;
    padding-top: 40px;
}
.h2, h2 {
    font-size: 45px;
}
#centroImagem{
    padding-left: 50px;
}
@media (max-width: 768px) {
    #centroImagem{
        padding-left: 0;
        padding-right: 0;
    }
    #equipeImg{
        width: 100%;
    }
}