*{
	padding: 0; 
	margin: 0;
}	

header{
	background-image: url("img/lobo-lua1.jpg");
	height: 100%;
	width: 100%;
	position: relative;
	background-size: 100% 100% ;
}

#navbarTopo{
	padding-top: 20px; 
	padding-bottom: 50px; 
	width: 100%;
	margin: 0px;
	position: relative;
	background-color: black;
}			
.logomarca a{
	display: inline-block;
	float: left;
	margin-top: -20px;
    padding-left: 10px;
}
.navbarDireita{
	list-style: none;
	float: right;
    padding-right: 40px;

}
.navbarDireita li{
	margin-right: 20px;
	font-size: 20px;
	display: inline-block;
	color:#fff;
}

.introHome p{
	color: gray;
	font-size: 20px;
	margin-top: 20px;
    text-align: center;
}
.introHome h1{
	margin-top: 130px;
    text-align: center;
}
.introHome{
	width: 900px;
	height: 500px;
    text-align: center;
    margin-left: 23.7%;
    margin-right: 30%;
}
/*fundo preto transparente*/
.transparenciaFundo{
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
body{
	height:100%;
	width: 100%;
	font-family: 'Helvetica';
}

#servicos{
    padding-bottom: 230px;
    padding-top: 210px;
    background-color: gray;
    color: white;

}
#servicos h1{
    padding-bottom: 40px;
    font-size: 50px;
}

.col-md-4 {
    font-size: 20px;
}
.col-md-4 h2 {
    font-size: 35px;
}
#portfolio{
    padding-bottom: 265px;
    padding-top: 230px;
    text-align: center;
    background-color: #fff;
}
.tituloportfolio h1{
    padding-bottom: 50px;
    font-size: 50px;
}
.itensportfolio a{
    padding-right: 80px; 
}

section{
	width: 100%;
	height: 100%; 
    display: block;
}

.formcontato h2{
    text-align: center;
    padding-bottom:50px;
    font-size: 50px;

}
.formcontato{
    padding-bottom: 0px;
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    background-color: white;
}

.btn-default{
    width:  100%;
    height: 100%;
}
footer{
	width: 100%;
}
#footer{
	background-color: #ccc;
	text-align: center;
}
#footer p{
	margin: 10px auto;
    padding-bottom: 30px;
}
.clear{
	clear: both;
}
    