
header {
    height: 80%;
    width: 100%;
    background-size:cover;
    background-image: url("img/perfil.jpg");
}
body{
    background-color: #F2F2F2;
}


#sobre{
	margin-top: 60px;
}
#apresentacao {
	margin-bottom: 90px;
    text-align: center;
    padding-top: 150px;
}
#apresentacao h1{
	color: #fff;
    line-height: 50px;
    font-size: 50px;

}
#tituloapreentacao {
    padding-bottom: 60px;
    padding-top: 30px;
}
#textoApresentacao{
	margin-bottom: 40px;
	font-size: 18px;
    padding-top: 0;
}
.col-md-4 p {
	font-size: 20px;
    border-right-width: 0;
    border-right-style: none;
    border-right-color: #fff;
}
#principios {
    padding-bottom: 200px;
    padding-top: 0px;
}