header {
    height: 0;
    width: 100%;
    background-size: 100% 100%;
    background-image: none;
}
section{
	width: 100%;
	height: 100%;
}
.logomarca{
	margin-top: 3px;
}
.transparenciaFundo {
    height: 70px;
    background-color: rgba(0,0,0,0.3);
}
.textoSobre{
	width: 100%;
	height: 100%;
	padding-top: 50px;
	background-color: rgba(0,0,0,0.8);
	color: white;
}
#sobre{
	margin-top: 60px;
	background-image: url("img/lobo-lua.jpg");
	background-size: cover;
}
#apresentacao{
	margin-bottom: 60px;
}
#textoApresentacao{
	margin-bottom: 60px;
	font-size: 18px;
}