html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}
footer{
	width: 100%;
}
.footer{
	background-color: #ccc;
	text-align: center;
}
.footer p{
	margin: 10px auto;
}
.clear{
	clear: both;
}